[Desktop Entry]
Name=dwm
Icon=/usr/share/dwm/dwm.png
Comment=Dynamic Window Manager
Exec=/usr/share/dwm/scripts/run.sh
TryExec=/usr/share/dwm/scripts/run.sh
Type=Application
